body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-style: normal;
    background-color: white;
    color: black;
    margin: 0;
}

h1 {
    font-size: 24px;
    padding: 10px;
}
h2 {
    font-size: 21px;
    padding: 12px;
}

/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    list-style-type: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change colour when on that page */
.navbar a.active {
    background-color: rgb(48, 92, 235);
    color: white;
}
/* Change colour when hovered over */
.navbar a:hover {
    background-color: rgb(146, 215, 247);
    color: black;
}
.navbar-right {
    float: right;
}


#container {
    width: 95%;
    display: flex;
    /* Center */
    margin-left: auto;
    margin-right: auto;
}

/* Home page */

/* Adding a new post form section */
.addPost {
    width: 25%;
    padding: 10px;
    font-size: 18px;
    position: fixed;
}

/* Posts section */
.posts {
    padding: 10px;
    font-size: 18px;
    /* Center */
    margin-left: auto;
    margin-right: auto;
}

/* How each post is displayed */
.display {
    background-color: antiquewhite;
    border: 2px solid black;
    margin: 30px;
    padding: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
/* Display posts for comments */
.display2 {
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 30px;
    /* Center */
    margin-left: auto;
    margin-right: auto;
}
.left {
    font-size: 18px;
}
.right {
    font-size: 14px;
}

/* Comments page */
#addComment {
    width: 40%;
    float: left;
}
#comment {
    width: 60%;
    float: right;
}
