body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-style: normal;
    background-color: white;
    color: black;
    margin: 0;
}

h1 {
    font-size: 22px;
    padding: 10px;
}

/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    list-style-type: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change colour when on that page */
.navbar a.active {
    background-color: rgb(48, 92, 235);
    color: white;
}
/* Change colour when hovered over */
.navbar a:hover {
    background-color: rgb(146, 215, 247);
    color: black;
}
.navbar-right {
    float: right;
}

.addPost {
    width: 80%;
    padding: 10px;
    font-size: 18px;
}

.posts {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    /* Center */
    margin-left: auto;
    margin-right: auto;
}

.display {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

/* Container for comments and add comments */
#container {
    width: 90%;
    /* Center */
    margin-left: auto;
    margin-right: auto;
}
#addComment {
    width: 40%;
    float: left;
}
#comment {
    width: 60%;
    float: right;
}
